/*
body, html {
  margin: 0;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  background: black;
  border-color: green;
  border-style: solid;
  padding: 20px;
}

.navbar {
  border-color: red;
  border-style: solid;
  display: flex;
  position: sticky;
}

.navbar h1 {
  border-style: solid;
  border-color: orange;
  color: white;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 20px;
}

.navbar ul {
  border-style: solid;
  border-color: orange;
  padding: 20px 20px;
}

.navbar li {
  border-style: solid;
  border-color: yellow;
  display: table-cell;

} */

  body,html {
  margin: 0;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  background: #000;
  border-color: white;
  border-style: solid;
  padding: 20px;
}

.navbar {
  border-color: red;
  border-style: solid;
  display: flex;
}
.navbar h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 20px 20px;
  border-color: yellow;
  border-style: solid;
}
.navbar ul {
  margin: 0 auto 0;
  position: relative;
  padding: 10px;
  list-style: none;
  display: flex;
  width: 900px;
  border-style: solid;
  border-color: green;
  text-align: center;
}
.navbar li {
  display: table-cell;
  position: relative;
  margin: 0 auto 0;
  padding: 20px 20px;
  align-items: center;
  text-align: center;
  vertical-align: center;
  border-style: solid;
  border-color: orange;
}
.navbar a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-size:
}
.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar a:hover:after {
  width: 100%;
  left: 0;
}
.blurb h1 {
  color: #fff;
  text-transform: uppercase;

  padding: inherit;
  border-color: green;
  border-style: solid;
}

@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
.splinetool {
  position: relative;
  display: flex;
  float: right;
}
